header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  border-bottom: .01px solid #fff203da;
}

header * {
  background-color: #1a1a1a;
  color: #fff203da;
}

.header-sections {
  display: flex;
}

.header-left {
  flex: 2;
  padding: 20px;
}

.header-left a {
  text-decoration: none;
}

.header-right {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.header-right nav {
  display: flex;
  justify-content: space-around;
  width: 130px;
}

.header-right nav a {
  text-decoration: none;
  width: 60px;
}

.header-right nav a:hover {
  text-decoration: underline;
}

.account {
  text-align: right;
}