.old-post-search-form {
  display: flex;
  flex-direction: column;
}

/* MAKE TEXT WHITE FOR FORMS */
* {
  color: #fff;
}

.NewRecPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewRecPage h2 {
  padding: 20px 0px;
}

/* ALL NEWRECPAGE BUTTON STYLING */
.movie-search-btn {
  width: 150px;
  background-color: #fff203da;
  color: #1a1a1a;
  border: 1px solid #fff203da;
  padding: 10px;
  margin-top: 30px;
}

/* FORMS */

.new-title-search-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Make radio buttons disappear and click with hover */


.radio-btn-container {
  height: 50px;
  display: flex;
}

.radio-btn {
  display: none;
}

.selected-radio-btn {
  background-color: #fff203da !important;
  color: #1a1a1a !important;
}

.radio-selects {
  width: 100%;
  border: 1px solid #aaa;
  padding: 8px;
  margin-top: 20px;
}

.radio-selects:hover {
    background-color: #fff203da;
    color: #1a1a1a;
}

/* INPUTS */

.new-title-search {
  width: 100%;
  border: 1px solid #aaa;
  padding: 8px;
  margin-top: 20px;
}

.submit-and-new-movie-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-new-movie-button-container {
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.start-new-movie-button-container div {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* NEW POST SECTION */

.make-new-post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-new-post-form p, .make-new-post-form div {
  margin-top: 25px;
}

.make-new-post-form div {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.submit-rec-button {
  padding-top: 10px;
}

/* NEW MOVIE FORM */

.make-new-movie-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 280px;
  display: flex;
  justify-content: center;
}

.title {
  width: 100%
}

.year {
  width: 125px;
  margin-top: 15px;
}

.year-and-genres-container {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.movie-genre-select {
  margin-top: 15px;
}