.old-post-search-form {
  display: flex;
  flex-direction: column;
}

/* MAKE TEXT WHITE FOR FORMS */
* {
  color: #fff;
}

.NewRecPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}